@using Microsoft.AspNetCore.Identity
@using CRM_Duo_Creative.Models
@inject UserManager<ApplicationUser> UserManager
@inject RoleManager<IdentityRole> RoleManager

@{
    ViewData["Title"] = "Zarządzanie użytkownikami";
    var users = UserManager.Users.ToList();
}

<div class="container mt-5">
    <h1>@ViewData["Title"]</h1>
    <div class="mb-4">
        <a class="btn btn-primary" asp-action="CreateUser">+ Dodaj nowego użytkownika</a>
    </div>

    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>Email</th>
                <th>Imię i nazwisko</th>
                <th>Rola</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                var roles = await UserManager.GetRolesAsync(user);
                <tr>
                    <td>@user.Email
                        @if (user.LockoutEnd.HasValue && user.LockoutEnd.Value > DateTime.Now)
                        {
                            <span class="badge bg-danger ms-2">Zablokowane</span>
                        }
                        else
                        {
                            <span class="badge bg-success ms-2">Aktywne</span>
                        }
                    </td>
                    <td>@user.FirstName @user.LastName</td>                    
                    <td>@string.Join(", ", roles)</td>
                    <td>
                        <a class="btn btn-sm btn-primary" asp-action="EditUser" asp-route-id="@user.Id">Edytuj</a>
                        <a class="btn btn-sm btn-danger" asp-action="DeleteUser" asp-route-id="@user.Id">Usuń</a>
                    </td>
                    <td>
                        <a asp-area="Identity"
                           asp-page="/Account/ResetPassword"
                           asp-route-email="@user.Email"
                           class="btn btn-warning btn-sm">
                            Resetuj Hasło
                        </a>
                    </td>
                    <td>
                        <a asp-controller="Admin" asp-action="ChangeEmail" asp-route-id="@user.Id" class="btn btn-sm btn-warning">
                            Zmień E-mail
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
